.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    vertical-align: center;
    min-height: 100vh;
  }
  
  @media (min-width: 1200px) {
  .App-logo {
    height: 3vmin;
    pointer-events: none;
  }
  
  .App-name {
    max-height: auto;
    pointer-events: none;
    position:absolute;
    top: 10%;
    left: 10%;
    max-width: 50%;
    
  }

  .me{
    max-height: 40vmin;
    pointer-events: none;
    position:absolute;
    top: 14%;
    left: 55%;
    max-width: 100%;
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  
  .App-header {
    background-color: #ffffff;
    /* min-height: 100vh; */
    position:relative;
    min-height: 100%;
    width: 100%;
    /* padding-bottom: 6rem; */
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1.5vmin);
    color: #000000c0;
    font-family: 'Raleway', sans-serif;
    flex: 1 1 auto;

  }
  
  .App-footer {
    background-color: #ffcaca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(3px + 2vmin);
    /* position: absolute; */
    width: 100vw;
    left:0;
    bottom: 0;
    /* padding-top: 2vh; */
    margin-top:auto;
    /* font-weight: bold; */
    font-family: 'Raleway', sans-serif;
  }
  
  .cynd {
    position:absolute;
    top: 40vmin;
    right: 15vmin;
    height: auto;
    max-width: 10%;
  }
  
  .chik {
    position:absolute;
    top: 20vmin;
    right: 15vmin;
    height: auto;
    max-width: 10%;
  }
  
  .about {
    position:absolute;
    top: 58vmin;
    left: 0vmin;
    align-items: left;
    justify-content: center;
    font-size: calc(2vmin);
    color: #000000c0;
    letter-spacing: .15em;
    /* margin-left: 12vmin;
    margin-right: 12vmin; */
  }

  .typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    display: inline;
    color: #7f7296;
    border-right: .12em solid #ffcaca; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    word-wrap: break-word;
    margin: auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    position:absolute;
    /* top: 48vh;
    left: 47vw; */
    top: 53%;
    left: 12%;
    font-size: calc(3vmin);
    font-weight:bolder;
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 32% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffcaca; }
  }
  }

  @media (min-width: 1000px) and (max-width:1200px){
    .App-name {
      max-height: 40vmin;
      pointer-events: none;
      position:absolute;
      top: 12%;
      left: 10%;
      max-width: 100%;
      
    }
  
    .me{
      max-height: 40vmin;
      pointer-events: none;
      position:absolute;
      top: 12%;
      left: 62%;
      max-width: 100%;
    }
    
    /* @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    } */
    
    .App-header {
      background-color: #ffffff;
      /* min-height: 100vh; */
      position:relative;
      min-height: 100%;
      width: 100%;
      padding-bottom: 5vmin;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(1.5vmin);
      color: #000000c0;
      font-family: 'Raleway', sans-serif;
      flex: 1 1 auto;
  
    }
    
    .App-footer {
      background-color: #ffcaca;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(3px + 2vmin);
      /* position: absolute; */
      width: 100vw;
      left:0;
      bottom: 0;
      /* padding-top: 2vh; */
      margin-top:auto;
      /* font-weight: bold; */
      font-family: 'Raleway', sans-serif;
    }
    
    .cynd {
      position:absolute;
      top: 40%;
      right: 3%;
      height: auto;
      max-width: 8%;
    }
    
    .chik {
      position:absolute;
      top: 20%;
      right: 1%;
      height: auto;
      max-width: 8%;
    }

    .about {
      position:absolute;
      top: 55vmin;
      left: 0vmin;
      align-items: left;
      justify-content: center;
      font-size: calc(2vmin);
      color: #000000c0;
      letter-spacing: .15em;
      /* margin-left: 12vmin;
      margin-right: 12vmin; */
    }
  
    .typewriter h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      display: inline;
      color: #7f7296;
      border-right: .12em solid #ffcaca; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      word-wrap: break-word;
      margin: auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      position:absolute;
      /* top: 48vh;
      left: 47vw; */
      top: 48%;
      left: 12.5%;
      font-size: calc(3vmin);
      font-weight:bolder;
      animation: 
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 32% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #ffcaca; }
    }
  }
  


@media (min-width: 780px) and (max-width:1000px){
    .App-name {
      max-height: auto;
      pointer-events: none;
      position:absolute;
      top: 38%;
      left: 24%;
      max-width: 100%;
      
    }
  
    .me{
      max-height: 40vmin;
      pointer-events: none;
      position:absolute;
      top: 15%;
      left: 36%;
      max-width: 100%;
    }
    
    /* @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    } */
    
    .App-header {
      background-color: #ffffff;
      /* min-height: 100vh; */
      position:relative;
      min-height: 100%;
      width: 100%;
      padding-bottom: 80vmin;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(1.5vmin);
      color: #000000c0;
      font-family: 'Raleway', sans-serif;
      flex: 1 1 auto;
  
    }
    
    .App-footer {
      background-color: #ffcaca;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(3px + 2vmin);
      /* position: absolute; */
      width: 100vw;
      left:0;
      bottom: 0;
      /* padding-top: 2vh; */
      margin-top:auto;
      /* font-weight: bold; */
      font-family: 'Raleway', sans-serif;
    }
    
    .cynd {
      position:absolute;
      top: 30%;
      right: 15%;
      height: 0;
      max-width: 0%;
    }

    .chik {
      position:absolute;
      top: 15%;
      right: 15%;
      height: 0;
      max-width: 0%;
    }
    
    .about {
      position:absolute;
      top: 65%;
      left: 0vmin;
      align-items: left;
      justify-content: center;
      font-size: calc(2vmin);
      color: #000000c0;
      letter-spacing: .15em;
      /* margin-left: 12vmin;
      margin-right: 12vmin; */
      /* flex: 0 0 auto; */
    }
  
    .typewriter h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      display: inline;
      color: #7f7296;
      border-right: .12em solid #ffcaca; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      word-wrap: break-word;
      margin: auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      position:absolute;
      /* top: 48vh;
      left: 47vw; */
      top: 62%;
      left: 25%;
      font-size: calc(3vmin);
      font-weight:bolder;
      animation: 
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 45% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #ffcaca; }
    }
  }

  @media (min-width: 675px) and (max-width:780px){
    .App-name {
      max-height: auto;
      pointer-events: none;
      position:absolute;
      top: 34%;
      left: 16%;
      max-width: 100%;
      
    }
  
    .me{
      max-height: 40vmin;
      pointer-events: none;
      position:absolute;
      top: 10%;
      left: 31%;
      max-width: 100%;
    }
    
    /* @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    } */
    
    .App-header {
      background-color: #ffffff;
      /* min-height: 100vh; */
      position:relative;
      min-height: 100%;
      width: 100%;
      padding-bottom: 70vmin;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(1.5vmin);
      color: #000000c0;
      font-family: 'Raleway', sans-serif;
      flex: 1 1 auto;
  
    }
    
    .App-footer {
      background-color: #ffcaca;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(3px + 2vmin);
      /* position: absolute; */
      width: 100vw;
      left:0;
      bottom: 0;
      /* padding-top: 2vh; */
      margin-top:auto;
      /* font-weight: bold; */
      font-family: 'Raleway', sans-serif;
    }
    
    .cynd {
      position:absolute;
      top: 30%;
      right: 15%;
      height: 0;
      max-width: 0%;
    }

    .chik {
      position:absolute;
      top: 15%;
      right: 15%;
      height: 0;
      max-width: 0%;
    }
    
    .about {
      position:absolute;
      top: 61%;
      left: 0vmin;
      align-items: left;
      justify-content: center;
      font-size: calc(2vmin);
      color: #000000c0;
      letter-spacing: .15em;
      /* margin-left: 12vmin;
      margin-right: 12vmin; */
      /* flex: 0 0 auto; */
    }
  
    .typewriter h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      display: inline;
      color: #7f7296;
      border-right: .12em solid #ffcaca; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      word-wrap: break-word;
      margin: auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      position:absolute;
      /* top: 48vh;
      left: 47vw; */
      top: 58%;
      left: 17%;
      font-size: calc(3vmin);
      font-weight:bolder;
      animation: 
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 60% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #ffcaca; }
    }
  }

  @media (min-width: 350px) and (max-width:675px){
    .App-name {
      max-height: auto;
      pointer-events: none;
      position:absolute;
      top: 32%;
      left: 14%;
      max-width: 100%;
      
    }
  
    .me{
      max-height: 40vmin;
      pointer-events: none;
      position:absolute;
      top: 8.5%;
      left: 30%;
      max-width: 100%;
    }
    
    /* @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    } */
    
    .App-header {
      background-color: #ffffff;
      /* min-height: 100vh; */
      position:relative;
      min-height: 100%;
      width: 100%;
      padding-bottom: 50vmin;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(1.5vmin);
      color: #000000c0;
      font-family: 'Raleway', sans-serif;
      flex: 1 1 auto;
  
    }
    
    .App-footer {
      background-color: #ffcaca;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(3px + 2vmin);
      /* position: absolute; */
      width: 100vw;
      left:0;
      bottom: 0;
      /* padding-top: 2vh; */
      margin-top:auto;
      /* font-weight: bold; */
      font-family: 'Raleway', sans-serif;
    }
    
    .cynd {
      position:absolute;
      top: 30%;
      right: 15%;
      height: 0;
      max-width: 0%;
    }

    .chik {
      position:absolute;
      top: 15%;
      right: 15%;
      height: 0;
      max-width: 0%;
    }
    
    .about {
      position:absolute;
      top: 58%;
      left: 0vmin;
      align-items: left;
      justify-content: center;
      font-size: calc(2vmin);
      color: #000000c0;
      letter-spacing: .15em;
      /* margin-left: 12vmin;
      margin-right: 12vmin; */
      /* flex: 0 0 auto; */
    }
  
    .typewriter h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      display: inline;
      color: #7f7296;
      border-right: .12em solid #ffcaca; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      word-wrap: break-word;
      margin: auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      position:absolute;
      /* top: 48vh;
      left: 47vw; */
      top: 55%;
      left: 15%;
      font-size: calc(3vmin);
      font-weight:bolder;
      animation: 
        typing 2s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 60% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: #ffcaca; }
    }
  }
