/* .Projects {
  text-align: center;
} */

.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    /* font-size: calc(1.5vmin); */
    color: #bdbdbdc0;
    font-family: 'Raleway', sans-serif;
  }
.text{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    /* position:absolute;
    top: 12vmin;
    left:58vmin; */
    /* margin-left: 8vmin; */
    align-items: center;
    justify-content: center;
    font-size:200%;
}

.line{
  color: #000000c0;
  background-color: #000000;
  height: 0.1vmin;
  border-color: #000000;
  display: flex;
  position: absolute;
  top: 60vmin;
  left: 0vmin;
  width: 100%;
}

.pinktext{
  color:#fc9393;
}

.icecreme{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  border-radius: 5px; */
  position:absolute;
  top: 35%;
}

.icecremetext{  
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
  vertical-align:middle;
  width: 43%;
  position:absolute;
  right: 3%;

}

.title{
  color: #fc9393;
  font-size: 280%;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  /* position:absolute; */
  /* left: 80vmin;
  top: -15vmin; */
}

.creme1{
  height: auto;
  max-width: 40%;
  /* position: absolute; */
  /* top: 25vmin; */
  /* left: 10vmin; */
  opacity: 1;
  padding: 0;
  vertical-align:middle;
  position: relative;
  left: 10%
}

.creme1:hover{
  opacity:0.5;
}

.inception-img{
  height: auto;
  max-width: 20%;
  opacity: 1;
  position:relative;
  left: 56%;
}

.inception-img:hover{
  opacity:0.5;
}

.inception-img2:hover{
  opacity:0.5;
}

.inception-img2{
  height: auto;
  max-width: 22%;
  opacity: 1;
  position: relative;
  left: 55%;

}

/* .inception-imgs{
  position:absolute;
} */
.inception{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 95%;
  /* right: 8vmin; */
}

.inceptiontext{  
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
  vertical-align:middle;
  max-width: 43%;
  position:absolute;
  left: 10%;

}

.via{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 155%;
}

.via-img1{
  height: auto;
  max-width: 20%;
  opacity: 1;
  padding: 2vmin;
  position:relative;
  left: 9%;
}

.via-img1:hover{
  opacity: 0.5
}

.via-img2{
  height: auto;
  max-width: 20%;
  opacity: 1;
  padding: 1vmin;
  position:relative;
  left: 10%;
}

.via-img2:hover{
  opacity: 0.5
}

.viatext{  
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
  vertical-align:middle;
  max-width: 43%;
  position:absolute;
  right: 2%;

}

.xfair{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 210%;
}

.xfair-img{
  height: auto;
  max-width: 40%;
  position: relative;
  left: 54%;
  opacity: 1;
}

.xfair-img:hover{
  opacity:0.5;
}

.xfairtext{  
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
  vertical-align:middle;
  max-width: 43%;
  position:absolute;
  left: 10%;

}

.ocean{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 250%;
  vertical-align: middle;
}

.oceantext{  
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
  vertical-align:middle;
  max-width: 40%;
  position:relative;
  left: 25%;
  vertical-align: middle;
}

.ocean-img{
  height: auto;
  max-width: 22%;
  position: absolute;
  left: 9%;
  top: 30%;
  opacity: 1;
  vertical-align:middle;
}

.ocean-img:hover{
  opacity:0.5;
}

.ocean-img2{
  height: auto;
  max-width: 20%;
  position: absolute;
  top: 30%;
  left: 33%;
  opacity: 1;
  vertical-align:middle;
}

.ocean-img2:hover{
  opacity:0.5;
}

.end{
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 130%;
  position: absolute;
  top: 310%;
  justify-content: center;
  align-items: center;
}
